<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
	http://www.springframework.org/schema/beans/spring-beans-4.3.xsd
	http://www.springframework.org/schema/context 
	http://www.springframework.org/schema/context/spring-context-4.3.xsd
	http://www.springframework.org/schema/aop  
	http://www.springframework.org/schema/aop/spring-aop-4.3.xsd
	">
	<!-- 业务逻辑 -->
	<bean id="UserServiceImpl" class="service.UserServiceImpl"></bean>
	<!-- advices -->
	<bean id="MyAdvice" class="advices.MyAdvice"></bean>
	<aop:config>
		<!--
		<aop:pointcut expression="execution(* service.*.*(..))" id="mypc"/>
		<aop:aspect id="MyAspect" ref="MyAdvice" order="2">
			<aop:before method="beforeMethod" pointcut-ref="mypc"/>
		</aop:aspect>
		-->
		<aop:aspect id="MyAspect" ref="MyAdvice" order="2">
			<aop:before method="beforeMethod" pointcut="execution(* service.*.*(..))" />
			<aop:after-returning method="afterReturningMethod" pointcut="execution(* service.*.*(..))" returning="result"/>
			<aop:around method="aroundMethod" pointcut="execution(* service.*.*(..))" />
			<!--aop:after-throwing method="throwExMethod" pointcut="execution(* service.*.*(..))" throwing="ex"/-->
			<aop:after method="afterMethod" pointcut="execution(* service.*.*(..))" />
		</aop:aspect>
	</aop:config>
</beans>
